	body{
		margin: 0;
		padding: 0;
		background-image: url("bg.jpg");
		font-family: 'Shadows Into Light', cursive;
	}
    canvas{
		margin: auto;
		padding: 0;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
        border: 4px dotted #7fffd4;
    }

	div{
		text-align: center;
		margin: 0 auto;
	}
	span{
		text-decoration: bold;
		font-size: 200%;
		color: white;
	}